.ipynb_checkpoints
__pycache__
/docs/build/
/build/
/dist/
/rodeo.egg-info/
/tests/eigen/eigen-3.3.7/
/rodeo/eigen/eigen-3.3.7/
/examples/figures/
/examples/saves/
*.csv
*.zip
.idea
*.html
*.npy
Untitled.ipynb
/rodeo/cython/*.c
/rodeo/eigen/*.cpp
/tests/interactive/examples/figures/
