.ipynb_checkpoints
__pycache__
Docs/build
/build
/dist
/probDE.egg-info
/probDE/Examples/Lorenz1000.npy
/cython/fitz_det_theta.npy
/cython/fitz_theta.npy
/cython/fitz_theta2.npy
/cython/fitz_theta3.npy
/probDE/cython/*.cp37-win_amd64.pyd
.idea
