.ipynb_checkpoints
__pycache__
docs/build
/dist
/rodeo.egg-info
.idea
*.html
/tests/eigen/eigen-3.3.7/
/rodeo/eigen/eigen-3.3.7/
*.npy
Untitled.ipynb
/examples/figures
/examples/saves
*.csv
*.zip
build/